body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.container {
    max-width: 300px;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

img {
    width: 300px;
    height: 350px;
    border-radius: 8px;
}

button {
    color: whitesmoke;
    background-color: #0275d8;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    margin: 25px auto;
    display: block;
}

button:hover {
    background-color: #125997;
    cursor: pointer;
}
